{% extends '_layout.html' %}

{% block main %}
<main class="container">
  <form action="{{ '/api/task/update/' + task.id if task.id else '/api/task/new' }}" method="POST" class="form">
    <div class="row">
      <fieldset class="col-sm-6">
        <legend>Task State</legend>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <canvas id="task-graph" width="500" height="500" class="img-responsive img-rounded"></canvas>
          </div>
          <section class="col-xs-12 col-md-6">
            <label>Coordinates</label>
            <p class="help-block">These can be set manually or by click on the graph.</p>
            <!-- Task Importance -->
            <div class="input-group">
              <span class="input-group-addon">x</span>
              <input id="coordX" name="coordX" class="form-control" placeholder="0" type="text" value="{{ task.coordX }}">
            </div>
            <p class="help-block">Treat x as the tasks importance.</p>
            <!-- Task Urgency -->
            <div class="input-group">
              <span class="input-group-addon">y</span>
              <input id="coordY" name="coordY" class="form-control" placeholder="0" type="text" value="{{ task.coordY }}">
            </div>
            <p class="help-block">Treat y as the tasks urgency.</p>

            <!-- Task Icon -->
            <div class="form-group">
              <label class="control-label" for="icon">Icon</label>
              <div class="input-group">
                <input id="icon" name="icon" class="form-control" placeholder="times" type="text" value="{{ task.icon }}">
                <span class="input-group-addon"><i id="icon-preview" class="fa fa-times"></i></span>
              </div>
              <p class="help-block">Enter the name of any Font Awesome icon.</p>
            </div>
          </section>
        </div>

        <!-- Task State -->
        <div class="form-group">
          <label class="control-label" for="state">State</label>
          <select id="state" name="state" class="form-control">
            <option value="pending" selected>pending</option>
            <option value="complete">complete</option>
            <option value="incomplete">incomplete</option>
            <option value="abandoned">abandoned</option>
            <option value="ongoing">ongoing</option>
          </select>
        </div>
      </fieldset>

      <fieldset class="col-sm-6">
        <legend>Task Details</legend>
        <!-- Task Name-->
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input id="name" name="name" placeholder="unnamed task" class="form-control input-md" type="text" value="{{ task.name }}" required>
          <p class="help-block">Short but sweet name for your task</p>
        </div>

        <!-- Task Notes -->
        <div class="form-group">
          <label class="control-label" for="notes">Notes</label>
          <textarea class="form-control" id="notes" name="notes" rows="3">{{ task.notes }}</textarea>
          <p class="help-block">Markdown Accepted</p>
        </div>

        <!-- External Task Tracking -->
        <div class="form-group">
          <label class="control-label" for="url">URL</label>
          <input id="url" name="url" placeholder="http://example.com/" class="form-control input-md" type="text" value="{{ task.url }}">
          <p class="help-block">Add a link to any external tracking for this task </p>
        </div>

        <!-- Task Topic Relation -->
        <!-- <div class="form-group">
          <label class="control-label" for="TopicId">Topic</label>
          <select id="TopicId" name="TopicId" class="form-control">
            <option>topic selection optional</option>
            {% for topic in topics %}
            <option value="{{ topic.id }}"{{ ' selected' if topic.id == task.TopicId }}>{{ topic.name }}</option>
            {% endfor %}
          </select>
        </div> -->

        <!-- Button -->
        <div class="form-group">
          <button id="submit" name="submit" type="submit" class="btn btn-primary">{{ 'Update' if task.id else 'Create' }} Task</button>
        </div>
      </fieldset>
    </div>
  </form>
</main>
{% endblock %}

{% block custom_scripts %}
<script src="/vendor/punycode/punycode.min.js"></script>
<script src="/asset/strutil/strutil.js"></script>
<script src="/asset/strutil/sjis_map.js"></script>
<script src="/asset/strutil/iso88591_map.js"></script>
<script src='/asset/js/font-awesome-mappings.js'></script>
<script src="/vendor/paper/dist/paper-full.min.js"></script>
<script src="/asset/js/task-graph.js"></script>
<script src="/asset/js/new-task.js"></script>
{% endblock %}
