{% extends '_layout.html' %}

{% block main %}
<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="task-filters" class="pull-right">
        Filter:&nbsp;&nbsp;
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" data-toggle="task-pending">
            <fa class="fa fa-eye"></fa> Pending
          </button>
          <button type="button" class="btn btn-success btn-sm active" data-toggle="task-complete">
            <fa class="fa fa-eye-slash"></fa> Complete
          </button>
          <button type="button" class="btn btn-warning btn-sm" data-toggle="task-incomplete">
            <fa class="fa fa-eye"></fa> Incomplete
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="task-abandoned">
            <fa class="fa fa-eye"></fa> Abandoned
          </button>
          <button type="button" class="btn btn-info btn-sm" data-toggle="task-ongoing">
            <fa class="fa fa-eye"></fa> Ongoing
          </button>
        </div>
      </div>
      <table class="table table-striped preview-list">
        <thead>
          <tr>
            <th></th>
            <th>id</th>
            <th>name</th>
            <th>notes</th>
            <th>url</th>
            <th>graph</th>
            <th>state</th>
            <th>last updated</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr class="task task-{{ task.state }}">
            <td><i class="fa fa-{{ task.icon }} task-icon"></i></td>
            <td>{{ task.id }}</td>
            <td><a href="/task/{{ task.id }}">{{ task.name }}</a></td>
            <td>{{ task.notes | truncate(140) }}</td>
            <td>{% if task.url %}<a href="{{ task.url }}"><i class="fa fa-external-link"></i> <span class="sr-only">{{ task.url }}</span></a>{% endif %}</td>
            <td><img src="" class="img-rounded" data-task="{{ task.taskJSON }}" alt="task graph" rel="task-graph"></td>
            <td>{{ task.state }}</td>
            <td><time datetime="{{ task.updatedAt }}" class="no-wrap">{{ task.updatedAt | momentFromNow }}</time></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}

{% block custom_scripts %}
<script src="/vendor/punycode/punycode.min.js"></script>
<script src="/asset/strutil/strutil.js"></script>
<script src="/asset/strutil/sjis_map.js"></script>
<script src="/asset/strutil/iso88591_map.js"></script>
<script src='/asset/js/font-awesome-mappings.js'></script>
<script src="/vendor/paper/dist/paper-full.min.js"></script>
<script src="/asset/js/task-graph.js"></script>
<script>
  $.subscribe( 'task:add', function() {
    console.log( 'add', arguments );
  });
  $.subscribe( 'task:added', function() {
    console.log( 'added', arguments );
  });

  // tmp ui toggles for bothersome tasks
  $( '#task-filters' ).on( 'click', '.btn', function( event ) {
    var toggleTasks = $( this ).toggleClass( 'active' ).data( 'toggle' );
    $( '.task.' + toggleTasks ).toggle();

    if( $( this ).hasClass( 'active' ) ) {
      $( this ).children( '.fa' ).removeClass( 'fa-eye' ).addClass( 'fa-eye-slash' );
    }
    else {
      $( this ).children( '.fa' ).addClass( 'fa-eye' ).removeClass( 'fa-eye-slash' );
    }
    return false;
  });

  $( '.task.task-complete' ).toggle();
</script>
{% endblock %}
