<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/asset/css/eisenhower.css">
  {% block custom_styles %}
  {% endblock %}
	<title>{{ title }}</title>
</head>
<body>
	{% block header %}
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Eisenhower</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
        {% if session.email %}
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/topics">Topics</a></li>
        <li>
          <a href="#" class="persona-logout"><span class="fa fa-lock"></span> logout</a>
        </li>
        {% else %}
        <li>
          <a href="#" class="persona-login"><span class="fa fa-unlock-alt"></span> login</a>
        </li>
        {% endif %}
				<li>
          <a href="https://github.com/fuzzyfox/eisenhower">
            <span class="fa fa-github"></span> fuzzyfox/eisenhower
          </a>
        </li>
			</ul>
		</div>
	</nav>
	{% endblock %}

  <section class="notifications container">
    {% for type, messages in flash %}
      {% for message in messages %}
      <div class="alert{{ ' alert-' + type if type }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endfor %}

    {% block notifications %}{% endblock %}
  </section>

	{% block main %}
	<!-- main content here -->
	{% endblock %}

	{% block footer %}
	<footer>
		<div class="container">
			<div class="row">
				<section class="col-sm-6">
					<p>Portions of this content are © 2014 by individual contributors. Content available under a <a href="//creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons license</a>.</p>
				</section>
				<section class="col-sm-3">
					{% block footer_social %}
					<!-- social links here -->
					{% endblock %}
				</section>
				<section class="col-sm-3">
					{% block footer_links %}
					<!-- footer links here -->
					{% endblock %}
				</section>
			</div>
		</div>
	</footer>
	{% endblock %}

  <!-- base libraries -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- persona/auth handling (client-side) -->
  <script src="https://login.persona.org/include.js"></script>
  <script src="/asset/js/auth.js" data-redirect="{{ redirect }}"></script>

  <!-- custom scripts for this page -->
  {% block custom_scripts %}
  {% endblock %}
</body>
</html>
