{% extends '_layout.html' %}

{% block main %}

<main class="container">
  <h1>{{ title }}</h1>

  <form action="" method="POST" class="form col-sm-6 col-sm-offset-3">
    <input type="hidden" value="{{ redirect }}" name="redirect" id="redirect">
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input id="email" name="email" placeholder="dumby@mozillafoundation.org" class="input-xlarge form-control" required="" type="text">
        <p class="help-block">note this must end in @mozillafoundation.org however should not be a real account</p>
      </div>
    </div>
  </form>
</main>

{% endblock %}
