{% extends '_layout.html' %}

{% block main %}
<main class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <canvas id="task-graph" width="500" height="500" style="margin: 20px 0;"></canvas>
    </div>
  </div>
  <i class="fa fa-times"></i>
</main>
{% endblock %}

{% block custom_scripts %}
<script src="/vendor/paper/dist/paper-full.min.js"></script>
<script src="/asset/js/task-graph.paperscript" type="text/paperscript" canvas="task-graph"></script>
<script>
  // Works in modern browsers + IE9, but Modernizr has a polyfill baked in for function.bind.
  // Hat tip Paul Irish
  var o = $( {} );
  $.subscribe = o.on.bind(o);
  $.unsubscribe = o.off.bind(o);
  $.publish = o.trigger.bind(o);

  $.subscribe( 'task:added', function( event, task ) {
    console.log( convertPointToCoord( task.point.x ), -convertPointToCoord( task.point.y ) );
  });
</script>

{% endblock %}
