img[rel=task-graph] {
  background: url(/asset/img/loading.gif) center no-repeat;
}

table.preview-list {
  img[rel=task-graph] {
    max-width: 128px;
    max-height: 128px;
  }
}

.alert-success::before {
  content: '\f058';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
.alert-info::before {
  content: '\f05a';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
.alert-warning::before {
  content: '\f071';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
.alert-danger::before {
  content: '\f06a';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
