$pendingTaskBg = #464545;
$pendingTaskText = #fff;
$completeTaskBg = #00bc8c;
$completeTaskText = #fff;
$incompleteTaskBg = #f39c12;
$incompleteTaskText = #fff;
$abandonedTaskBg = #e74c3c;
$abandonedTaskText = #fff;
$ongoingTaskBg = #3498db;
$ongoingTaskText = #fff;

img[rel=task-graph] {
  background: #fff url(/asset/img/loading.gif) center no-repeat;
}

table.preview-list {
  img[rel=task-graph] {
    max-width: 128px;
    max-height: 128px;
  }

  .task-complete {
    img[rel=task-graph] {
      display: none;
    }
  }
}

.alert-success::before {
  content: '\f058';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
.alert-info::before {
  content: '\f05a';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
.alert-warning::before {
  content: '\f071';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}
.alert-danger::before {
  content: '\f06a';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  font-size: 1.2em;
}

#task-graph {
  background: #fff;
}

.task {
  .fa.task-icon::before {
    border-radius: 100%;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    display: block;
  }

  &.task-pending .fa.task-icon::before {
    background: $pendingTaskBg;
    color: $pendingTaskText;
    border: 1px solid #eee;
  }
  &.task-complete .fa.task-icon::before {
    background: $completeTaskBg;
    color: $completeTaskText;
  }
  &.task-incomplete .fa.task-icon::before {
    background: $incompleteTaskBg;
    color: $incompleteTaskText;
  }
  &.task-abandoned .fa.task-icon::before {
    background: $abandonedTaskBg;
    color: $abandonedTaskText;
  }
  &.task-ongoing .fa.task-icon::before {
    background: $ongoingTaskBg;
    color: $ongoingTaskText;
  }
}

textarea {
  resize: vertical;
}

.no-wrap {
  white-space: nowrap;
}
